In [4]:
# >>> FUNCTION THAT ACTUALLY PERFORMS STRATIFIED SAMPLING <<< #

def stratified_sampling(dsn, col, n):
    dsn_g = dsn.groupby(col)
    frame = pd.DataFrame()
    
    frame['size'] = dsn_g.size()
    frame['prop'] = dsn_g.size()/len(dsn)
    frame['samsize'] = np.round(frame.prop*n)
    frame['levels'] = frame.index
    frame.reset_index(inplace=True)
    
    dsn2 = pd.merge(dsn, frame, on=col, how='inner')
    group = dsn2.groupby(col)
    grouped = list(group)
    
    ds_main = pd.DataFrame()
    ds_main = pd.concat([ds_main])
    
    for i in range(len(grouped)):
        ds = grouped[i][1]
        val = int(pd.unique(ds['samsize'])[0])    
        dss = ds.sample(val, random_state=0, axis=0)
        ds_main = pd.concat([ds_main, dss])
    
    return ds_main

#######################################################
# *************************************************** #
#######################################################

# >>> MAIN INTERACTIVE FUNCTION THAT DEPLOYES THE PREVIOUS FUNCTION TO IMPLEMENT STRATIFIED SAMPLING <<< #

def implement_stratified(data):
    numones = len(data[data['resp']==1])
    numzeros = len(data[data['resp']==0])
    rate = numones/(numones+numzeros)
    
    print("******")
    print()
    print("Current event rate: ", np.round(rate, 2))
    print()
    print("******")
    print()
    nsize = int(input("What overall sample size do you want: "))
    print()
    print("******")
    print()
    
    rr = float(input("What event rate do you want in the sample: "))
    sam_ones = int(np.round(rr*nsize))
    sam_zeros = int(nsize - sam_ones)
    
    print()
    print("******")
    print()
    print("Number of ones in your sample: ", sam_ones)
    print("Number of zeros in your sample: ", sam_zeros)
    print()
    print("******")
    print()
    
    strata = input("What column to use for stratification: ")
    
    print()
    print("******")
    
    one_sampled = stratified_sampling(data, strata, sam_ones)
    zero_sampled = stratified_sampling(data, strata, sam_zeros)
    
    final_frame = pd.concat([one_sampled, zero_sampled])
    final_frame = final_frame.drop(['size', 'prop', 'samsize', 'levels'], axis=1).reset_index(drop=True)
    
    return final_frame

In [5]:
implement_stratified(df)

******

Current event rate:  0.31

******

What overall sample size do you want:  1000

******

What event rate do you want in the sample:  0.50

******

Number of ones in your sample:  500
Number of zeros in your sample:  500

******

What column to use for stratification:  INCOME

******

,AGE,CRED,MS,HEQ,INCOME,DEPC,MOB,MILEAGE,RESTYPE,GENDER,EMP_STA,RES_STA,DELINQ,NUMTR,MRTGI,MFDU,resp,cuscode
0,45,373.0,M,10.0,20,Y,Y,3.011,HOME,F,"1,2","1,2",0,0,Y,0,0,4811
1,19,521.0,M,0.1,20,N,Y,1.927,HOME,F,"1,2","1,2",1,0,Y,0,0,33
2,25,628.0,U,10.0,20,N,N,3.433,HOME,M,"1,2","1,2",0,0,N,0,0,3730
3,58,674.0,X,10.0,20,Y,N,8.531,HOME,F,"1,2","1,2",0,2,N,0,0,22230
4,38,614.0,M,10.0,20,N,Y,5.834,HOME,M,"1,2","1,2",0,0,N,0,0,9416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,57,668.0,M,70.0,110,Y,Y,18.861,RENTER,M,"1,2","1,2",0,0,N,1,0,23763
994,49,617.0,M,30.0,110,Y,Y,17.876,HOME,M,"1,2","1,2",0,0,Y,0,0,9251
995,53,804.0,U,50.0,110,N,N,15.554,HOME,M,"1,2","1,2",1,3,N,0,0,25386
996,49,706.0,M,10.0,110,N,N,1.916,HOME,M,"1,2","1,2",0,0,N,0,0,13928
997,61,504.0,M,30.0,110,N,Y,19.755,RENTER,F,"1,2","1,2",2,0,N,1,1,15827